/*
* @Author: zhoupeng
* @Date:   2017-10-31 13:33:20
 * @Last Modified by: zhoupeng
 * @Last Modified time: 2018-06-27 12:34:31
*/
$namespace: 'app';
$element-separator: '__';
$modifier-separator: '--';
$state-prefix: 'is-';
