/*
* @Author: zhoupeng
* @Date:   2017-11-22 15:46:48
* @Last Modified by:   zhoupeng
* @Last Modified time: 2017-12-06 11:26:54
*/
$jqd-color-blue: #00c1d2;

$jqd-font-sumarry: #7f7f7f;
$jqd-font-title: #191919;
$jqd-font-more: #999;

$jqd-border-split: .4rem #f5f5f5 solid;

$jqd-mask-dark: rgba(0,0,0,.3)