/*
* @Author: zhoupeng
* @Date:   2017-11-06 17:08:41
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2018-01-19 11:03:47
*/
$--all-transition: all .3s cubic-bezier(.645,.045,.355,1);
$--fade-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1);
$--fade-linear-transition: opacity 200ms linear;
$--md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
$--border-transition-base: border-color .2s cubic-bezier(.645,.045,.355,1);
$--color-transition-base: color .2s cubic-bezier(.645,.045,.355,1);


.fade-in-linear-enter-active,
.fade-in-linear-leave-active {
  transition: $--fade-linear-transition;
}
.fade-in-linear-enter,
.fade-in-linear-leave,
.fade-in-linear-leave-active {
  opacity: 0;
}

.fade-in-linear-enter-active,
.fade-in-linear-leave-active {
  transition: $--fade-linear-transition;
}
.fade-in-linear-enter,
.fade-in-linear-leave,
.fade-in-linear-leave-active {
  opacity: 0;
}

.fade-in-enter-active,
.fade-in-leave-active {
  transition: all .3s cubic-bezier(.55,0,.1,1);
}
.fade-in-enter,
.fade-in-leave-active {
  opacity: 0;
}

.zoom-in-center-enter-active,
.zoom-in-center-leave-active {
  transform: scale(1);
  // transition: all .3s cubic-bezier(.55,0,.1,1);
  transition: $--md-fade-transition;
  transform-origin: center ;
}
.zoom-in-center-enter,
.zoom-in-center-leave-active {
  opacity: 0;
  transform: scale(0);
}

.zoom-in-top-enter-active,
.zoom-in-top-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: $--md-fade-transition;
  transform-origin: center top;
}
.zoom-in-top-enter,
.zoom-in-top-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.zoom-in-bottom-enter-active,
.zoom-in-bottom-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: $--md-fade-transition;
  transform-origin: center bottom;
}
.zoom-in-bottom-enter,
.zoom-in-bottom-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.zoom-in-left-enter-active,
.zoom-in-left-leave-active {
  opacity: 1;
  transform: scale(1, 1);
  transition: $--md-fade-transition;
  transform-origin: top left;
}
.zoom-in-left-enter,
.zoom-in-left-leave-active {
  opacity: 0;
  transform: scale(.45, .45);
}
.zoom-in-right-enter-active,
.zoom-in-right-leave-active {
  opacity: 1;
  transform: scale(1, 1);
  transition: $--md-fade-transition;
  transform-origin: top right;
}
.zoom-in-right-enter,
.zoom-in-right-leave-active {
  opacity: 0;
  transform: scale(.45, .45);
}

.collapse-transition {
  transition: 0.3s height ease-in-out, 0.3s padding-top ease-in-out, 0.3s padding-bottom ease-in-out;
}
.horizontal-collapse-transition {
  transition: 0.3s width ease-in-out, 0.3s padding-left ease-in-out, 0.3s padding-right ease-in-out;
}

.list-enter-active,
.list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-active {
  opacity: 0;
  transform: translateY(-30px);
}

.opacity-transition {
  transition: opacity .3s cubic-bezier(.55,0,.1,1);
}

.fly-in-right-enter-active,
.fly-in-right-leave-active {
  opacity: 1;
  transform: translateX(0);
  transition: $--md-fade-transition;
  transform-origin: top right;
}
.fly-in-right-enter,
.fly-in-right-leave-active {
  opacity: 0;
  transform: translateX(300%);
}
.fly-in-left-enter-active,
.fly-in-left-leave-active {
  opacity: 1;
  transform: translateX(0);
  transition: $--md-fade-transition;
  transform-origin: top right;
}
.fly-in-left-enter,
.fly-in-left-leave-active {
  opacity: 0;
  transform: translateX(-300%);
}

.fly-in-top-enter-active,
.fly-in-top-leave-active {
  opacity: 1;
  transform: translateX(0);
  transition: $--md-fade-transition;
  transform-origin: top right;
}
.fly-in-top-enter,
.fly-in-top-leave-active {
  opacity: 0;
  transform: translateY(-300%);
}

.fly-in-bottom-enter-active,
.fly-in-bottom-leave-active {
  opacity: 1;
  transform: translateY(0);
  transition: $--md-fade-transition;
  transform-origin: top right;
}
.fly-in-bottom-enter,
.fly-in-bottom-leave-active {
  opacity: 0;
  transform: translateY(300%);
}
@for $i from 1 through 50 {
  .fly-in-left-enter-active:nth-child(#{$i}),
  .fly-in-right-enter-active:nth-child(#{$i}),
  .fly-in-top-enter-active:nth-child(#{$i}),
  .fly-in-bottom-enter-active:nth-child(#{$i}) {
    transition-delay: 100ms+20ms*$i;
  }
}

//jqd-resource-item fly-in-left-enter 
//jqd-resource-item fly-in-left-enter fly-in-left-enter-active
//jqd-resource-item fly-in-left-enter fly-in-left-enter-active fly-in-left-enter-to
//jqd-resource-item fly-in-left-enter-active fly-in-left-enter-to

